apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: flyte

resources:
  # Local sealed secrets
  - sealed-db-password.yaml
  - sealed-s3-creds.yaml
  
  # Pull CRDs and RBAC from upstream Flyte v2
  - https://github.com/flyteorg/flyte/executor/config/crd?ref=v2.0.2
  - https://github.com/flyteorg/flyte/executor/config/rbac?ref=v2.0.2

patches:
  # Exclude ServiceAccount from being deployed
  - target:
      kind: ServiceAccount
      name: controller-manager
    patch: |-
      $patch: delete

  # Patch ClusterRoleBinding to use our Helm-created ServiceAccount
  - target:
      kind: ClusterRoleBinding
      name: manager-rolebinding
    patch: |-
      - op: replace
        path: /subjects/0/name
        value: flyte-flyte-binary
      - op: replace
        path: /subjects/0/namespace
        value: flyte
  
  # Patch RoleBinding to use our Helm-created ServiceAccount
  - target:
      kind: RoleBinding
      name: leader-election-rolebinding
    patch: |-
      - op: replace
        path: /subjects/0/name
        value: flyte-flyte-binary
      - op: replace
        path: /subjects/0/namespace
        value: flyte
