flyte-core-components:
configuration:
  database:
    username: flyte
    # This path matches the secret volumeMount below
    passwordPath: /etc/db/pass.txt
    host: flyte-db-rw.postgres.svc.cluster.local
    port: 5432
    dbname: flyte
    options: sslmode=disable
  storage:
    # Same bucket for simplicity
    metadataContainer: "hotosm-fair-flyte"
    userDataContainer: "hotosm-fair-flyte"
    provider: s3
    providerConfig:
      s3:
        region: "us-east-1"
        disableSSL: false
        # v2Signing Flag to sign requests with v2 signature
        # Useful for s3-compatible blob stores (e.g. minio)
        v2Signing: false
        endpoint: "https://s3.amazonaws.com"
        authType: "accesskey"
        # accessKey & secretKey will be injected by secret for inlineSecretRef
        accessKey: "placeholder"
        secretKey: "placeholder"
  logging:
    level: 5
    plugins:
      kubernetes:
        enabled: false
        templateUri: ""
      custom: []
  auth:
    enabled: false
    enableAuthServer: false
  # Flyte CoPilot
  co-pilot:
    image:
      repository: cr.flyte.org/flyteorg/flytecopilot
      tag: v1.16.3

  # inlineSecretRef Specify an existing Secret containing additional configuration
  # or overrides for Flyte, to be merged with the base configuration
  inlineSecretRef: "flyte-s3-creds"

deployment:
  image:
    repository: ghcr.io/hotosm/flyte
    tag: v2.0.2
    # pullPolicy: IfNotPresent
    # Until development complete
    pullPolicy: Always
  # extraEnvVars Array with extra environment variables to add to Flyte
  extraEnvVars: []
  # extraEnvVarsConfigMap Name of existing ConfigMap containing extra env vars for Flyte
  extraEnvVarsConfigMap: ""
  # extraEnvVarsSecret Name of existing Secret containing extra env vars for Flyte
  extraEnvVarsSecret: ""
  # resources:
  #   limits:
  #     memory: 1Gi
  #   requests:
  #     cpu: 1
  # waitForDB Configure init container to wait for DB during pod startup
  # This is disabled when an external ConfigMap is used to specify Flyte configuration
  waitForDB:
    # image Configure image to use for wait-for-db init container
    image:
      # repository Init container image repository
      repository: postgres
      # tag Init container image tag
      tag: 18-alpine
      # pullPolicy Init container image pull policy
      pullPolicy: IfNotPresent
  extraVolumeMounts:
    - name: db-password
    # Will mount secret to /etc/db/pass.txt
      mountPath: /etc/db
      readOnly: true
  extraVolumes:
    - name: db-password
      secret:
        secretName: flyte-db-password
  # Overrides due to change in Flyte v2
  livenessProbe:
    httpGet:
      path: /healthz
      port: http
    initialDelaySeconds: 30
  # readinessProbe Override default container readiness probe
  readinessProbe:
    httpGet:
      path: /healthz
      port: http
    initialDelaySeconds: 30

ingress:
  create: false

flyteconnector:
  enabled: false

enabled_plugins:
  # -- Tasks specific configuration [structure](https://pkg.go.dev/github.com/flyteorg/flytepropeller/pkg/controller/nodes/task/config#GetConfig)
  tasks:
    # -- Plugins configuration, [structure](https://pkg.go.dev/github.com/flyteorg/flytepropeller/pkg/controller/nodes/task/config#TaskPluginConfig)
    task-plugins:
      # -- [Enabled Plugins](https://pkg.go.dev/github.com/lyft/flyteplugins/go/tasks/config#Config).
      # Enable sagemaker*, athena if you install the backend plugins
      enabled-plugins:
        - container
        - sidecar
        - k8s-array
        - connector-service
        - echo
      default-for-task-types:
        container: container
        sidecar: sidecar
        container_array: k8s-array
        # -- Uncomment to enable task type that uses Flyte Connector
        # bigquery_query_job_task: connector-service
