# https://github.com/community-charts/helm-charts/blob/main/charts/mlflow/values.yaml
# - Add db secret
# - Add S3 secret
# - Enable migrations = databaseMigration: true, and deploy
# - Disable migrations = databaseMigration: false, and re-deploy.

replicaCount: 1

image:
  repository: ghcr.io/mlflow/mlflow
  tag: "v3.9.0"

initImages:
  mlflowDbMigration:
    repository: ghcr.io/mlflow/mlflow
    tag: "v3.9.0"

log:
  enabled: true
  level: info

# -- Mlflow Usage Tracking settings. More information can be found here: https://mlflow.org/docs/latest/community/usage-tracking/
telemetry:
  enabled: false

# -- Mlflow database connection settings
backendStore:
  # Enable this to run the migrations - ideally disable after done
  databaseMigration: true
  # Check for db running before starting main container
  databaseConnectionCheck: true
  postgres:
    enabled: true
    host: "mlflow-db-prod-rw.postgres.svc.cluster.local"
    port: 5432
    database: "mlflow"
    driver: "psycopg2"
  existingDatabaseSecret:
    name: "mlflow-db-creds"
    usernameKey: "username"
    passwordKey: "password"

# Mlflow blob storage settings
artifactRoot:
  # -- Specifies if you want to enable proxied artifact storage access
  proxiedArtifactStorage: false
  # -- Specifies the default artifact root.
  defaultArtifactRoot: "./mlruns"
  # -- Specifies the default artifacts destination
  defaultArtifactsDestination: "./mlartifacts"
  s3:
    enabled: true
    bucket: "hotosm-fair-mlflow"
    path: "" # optional
    existingSecret:
      name: "mlflow-s3-creds"
      keyOfAccessKeyId: "AWS_ACCESS_KEY_ID"
      keyOfSecretAccessKey: "AWS_SECRET_ACCESS_KEY"

auth:
  enabled: false
ldapAuth:
  enabled: false
ingress:
  enabled: false
autoscaling:
  enabled: false

# -- A list of flags to pass to `mlflow server` command. Items must be camelcase. Helm will turn them to kebabcase style.
extraFlags: []
# If specified, enables serving of artifact uploads, downloads, and list requests by routing these requests
# to the storage location that is specified by ‘–artifact-destination’ directly through a proxy.
  # serveArtifacts
# If specified, configures the mlflow server to be used only for proxied artifact serving.
  # artifactsOnly

# -- Extra environment variables
extraEnvVars: {}
  # MLFLOW_S3_IGNORE_TLS: true  # Skip TLS certificate verification for S3
  # MLFLOW_S3_UPLOAD_EXTRA_ARGS: '{"ServerSideEncryption": "aws:kms", "SSEKMSKeyId": "1234"}'  # Extra S3 upload arguments
  # AWS_DEFAULT_REGION: my_region  # AWS default region
  # MLFLOW_S3_ENDPOINT_URL: http://1.2.3.4:9000  # Custom S3 endpoint URL
  # AWS_CA_BUNDLE: /some/ca/bundle.pem  # Custom CA bundle for AWS
  # MLFLOW_GCS_DEFAULT_TIMEOUT: 60  # GCS transfer timeout in seconds - Sets the standard timeout for transfer operations in seconds (Default: 60). Use -1 for indefinite timeout.
  # MLFLOW_GCS_UPLOAD_CHUNK_SIZE: 104857600  # GCS upload chunk size (100MB) - Sets the standard upload chunk size for bigger files in bytes (Default: 104857600 ≙ 100MiB), must be multiple of 256 KB.
  # MLFLOW_GCS_DOWNLOAD_CHUNK_SIZE: 104857600  # GCS download chunk size (100MB) - Sets the standard download chunk size for bigger files in bytes (Default: 104857600 ≙ 100MiB), must be multiple of 256 K
  # MLFLOW_SQLALCHEMYSTORE_POOL_SIZE: 10  # SQLAlchemy connection pool size
  # MLFLOW_SQLALCHEMYSTORE_MAX_OVERFLOW: 20  # SQLAlchemy max overflow connections
  # MLFLOW_SQLALCHEMYSTORE_POOL_RECYCLE: 3600  # SQLAlchemy pool recycle time

# -- Extra secrets for environment variables
extraSecretNamesForEnvFrom: []
# - my-mlflow-secrets

resources: {}
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

serviceMonitor:
  # -- When set true then use a ServiceMonitor to configure scraping
  enabled: false
  # -- When set true then use a service port. On default use a pod port.
  useServicePort: false
  # -- Set the namespace the ServiceMonitor should be deployed
  namespace: monitoring
  # -- Set how frequently Prometheus should scrape
  interval: 30s
  # -- Set path to mlflow telemetry-path
  telemetryPath: /metrics
  # -- Set labels for the ServiceMonitor, use this to define your scrape label for Prometheus Operator
  labels:
    # -- default `kube prometheus stack` helm chart serviceMonitor selector label
    # Mostly it's your prometheus helm release name. Please find more information from here:
    # https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/platform/troubleshooting.md#troubleshooting-servicemonitor-changes
    release: prometheus
  # -- Set timeout for scrape
  timeout: 10s
  # -- Set of labels to transfer on the Kubernetes Service onto the target.
  targetLabels: []
